<!DOCTYPE html>
<html lang="en" ng-app="miApp">
<head>
	<meta charset="UTF-8">
	<title>Tutorial 4</title>
	<script src="js/angular.min.js"></script>
	<script src="js/angular-locale_es-ar.js"></script>
	<script src="js/Empleados/filtros.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/estilos.css">
</head>
<body >
	<h1>Filtros Nativos de AngularJS</h1>
	<hr>
	<h2>Empleados</h2>
	<div ng-controller="ControladorFiltros">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
					<input type="text" class="form-control" placeholder="Buscar Empleado" ng-model="buscar.materno">
				</div>
			</div>
			<div class="panel-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>
								<a href="" ng-click="ordenarPor('nombre')">
									Nombre/s
								</a>
								<span class="caret cursor-mano" ng-click="ordenarPor('-nombre')"></span>
							</th>
							<th>Apellido Paterno</th>
							<th>Apellido Materno</th>
							<th>Primer día de trabajo</th>
							<th>Teléfono</th>
							<th>Salario</th>
							<th>Bono</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="empleado in empleados | orderBy:ordenSeleccionado | filter:buscar">
							<td>{{empleado.nombre}}</td>
							<td>{{empleado.paterno | uppercase}}</td>
							<td>{{empleado.materno | lowercase}}</td>
							<td>{{empleado.primerDia | date:'fullDate'}} a las {{empleado.primerDia | date:'h:mma'}}</td>
							<td>{{empleado.telefono}}</td>
							<td>{{empleado.salario | currency}}</td>
							<td>%{{empleado.bono | number:2}}</td>
						</tr>
					</tbody>
				</table>			
			</div>
		</div>
	</div>
</body>
</html>